
# General Ruby.
/.bundle/
/coverage/
/doc/*
/Gemlocal
/Gemlocal.lock
/tmp/*
/vendor/bundle/
/.yardoc/
*.gem

# Because we're building a gem; see
# https://bundler.io/guides/bundler_workflow.html
Gemfile.lock

# Project-specific.
/lib/lib_local.rb
/log/
/spec/spec_local.rb

# Bak/old/orig etc.
*.old*
*.orig
/*.patch
*.ref*
